Testflow.json
[
    {
        "id": "422031c2.453f9",
        "type": "tab",
        "label": "Smartphone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9cdf0b68.8b9528",
        "type": "ui_switch",
        "z": "422031c2.453f9",
        "name": "",
        "label": "Bluetooth on/off",
        "tooltip": "",
        "group": "ffc3612c.3b02c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 106.0173568725586,
        "y": 80.01041412353516,
        "wires": [
            []
        ]
    },
    {
        "id": "bc2d3bfb.df7358",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇐",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 77.03691864013672,
        "y": 175.01444244384766,
        "wires": [
            [
                "e80ea9a3.dff558"
            ]
        ]
    },
    {
        "id": "60dfdc80.fb18a4",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇒",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 77.03691864013672,
        "y": 215.01444244384766,
        "wires": [
            [
                "7a6aadfb.a690b4"
            ]
        ]
    },
    {
        "id": "c9c4582a.a3de08",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇑",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "500",
        "payloadType": "num",
        "topic": "",
        "x": 417.0369186401367,
        "y": 175.01444244384766,
        "wires": [
            [
                "a5de3a6f.cf0ff8"
            ]
        ]
    },
    {
        "id": "2e14b30e.f0b17c",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇓",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 417.0369186401367,
        "y": 215.01444244384766,
        "wires": [
            [
                "f4b6ec56.0f717"
            ]
        ]
    },
    {
        "id": "561e8d64.460cb4",
        "type": "ui_text",
        "z": "422031c2.453f9",
        "group": "ffc3612c.3b02c",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Turntable",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 87.03691864013672,
        "y": 135.01444244384766,
        "wires": []
    },
    {
        "id": "6ff43a30.8c7c64",
        "type": "ui_text",
        "z": "422031c2.453f9",
        "group": "ffc3612c.3b02c",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Rotor",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 417.0369186401367,
        "y": 135.01444244384766,
        "wires": []
    },
    {
        "id": "e80ea9a3.dff558",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "TT left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 217.03691864013672,
        "y": 175.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6aadfb.a690b4",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "TT right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 227.03691864013672,
        "y": 215.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "a5de3a6f.cf0ff8",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "Rotor left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 567.0369186401367,
        "y": 175.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "f4b6ec56.0f717",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "Rotor right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 577.0369186401367,
        "y": 215.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "ffc3612c.3b02c",
        "type": "ui_group",
        "z": "",
        "name": "Setup",
        "tab": "661c6084.6c7d5",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "661c6084.6c7d5",
        "type": "ui_tab",
        "z": "",
        "name": "Smartphone",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": true
    }
]